
  <div class="container-fluid">
      <div class="row d-flex align-items-center">
          <div class="col-lg-6 hidden-lg-down text-col">
            <ul class="list-inline">
              <li class="list-inline-item"><i class="icon-telephone"></i>{{ section.settings.telephone }}</li>
              <li class="list-inline-item">{{ section.settings.announcement }}</li>
            </ul>
          </div>
          <div class="col-lg-6 d-flex justify-content-end">
            <!-- Language Dropdown-->
            <div class="dropdown show">
              {%for block in section.blocks%}
                <a id="langsDropdown" href="https://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                <img src="{{ block.settings.eng_flag | img_url: '2048x'}}" alt="english">English</a>
                <div aria-labelledby="langsDropdown" class="dropdown-menu dropdown-menu-right">
                  <a href="#" class="dropdown-item"><img src="{{ block.settings.ger_flag | img_url: '2048x'}}" alt="german">German</a>
                  <a href="#" class="dropdown-item"> <img src="{{ block.settings.fre_flag | img_url: '2048x'}}" alt="french">French</a>
                </div>
              {%endfor%}
              </div>
            <!-- Currency Dropdown-->
            <div class="dropdown show"><a id="currencyDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">USD</a>
              <div aria-labelledby="currencyDropdown" class="dropdown-menu dropdown-menu-right"><a href="#" class="dropdown-item">EUR</a><a href="#" class="dropdown-item"> GBP</a></div>
            </div>
          </div>
      </div>
  </div>
</div>


{% schema %}
  {
    "name": "Top Bar",
    "tag": "aside",
    "class": "top-bar",
    "settings": [
      {
        "type": "text",
        "id": "telephone",
        "label": "Telephone",
        "default": "07123 456 789"
      },
      {
        "type": "text",
        "id": "announcement",
        "label": "Announcement",
        "default": "Free Shipping on orders above $200"
      }
    ],
        "blocks":[
          {
            "type": "text",
            "name": "flags",
            "settings": [
                  {
                    "type": "image_picker",
                    "id": "eng_flag",
                    "label": "Flags Image"
                  },
                  {
                    "type": "image_picker",
                    "id": "ger_flag",
                    "label": "Flags Image"
                  },
                  {
                    "type": "image_picker",
                    "id": "fre_flag",
                    "label": "Flags Image"
                  }
            ]
          }
    ]

  }
{% endschema %}